@model IEnumerable<CapaENT.ClsPersona>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post" action="@Url.Action("Conectar", "Home")">
        <input type="submit" value="Conectar"/>
    </form>
</div>

@if(Model != null)
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellidos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Foto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaNac)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdDept)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellidos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            <img src="@item.Foto" style="height:50px;width:50px"/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaNac)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdDept)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

